<div class="row justify-content-center">
    <div class="col-sm-6">
        <h3 id="modal-title">Nuevo Paciente</h3>
    </div>
    <div class="col-sm-6">
        <button class="close" mat-button (click)="closeModal()">X</button>
    </div>
</div>
<div class="container-fluid h-100">
    <div class="row justify-content-center">
        <div class="col">
            <form [formGroup]="addClienteForm" (ngSubmit)="onSubmit()" class="form-signin">
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <label for="nombres">Nombres</label>
                        <input type="text" formControlName="nombres" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" placeholder="Nombres"
                            required />
                        <div *ngIf="submitted && addClienteForm.controls['nombres'].errors" class="invalid-feedback">
                            <div *ngIf="addClienteForm.controls['nombres'].errors.required">Campo obligatorio</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" formControlName="apellidos" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }" placeholder="Apellidos"
                            required />
                        <div *ngIf="submitted && addClienteForm.controls['apellidos'].errors" class="invalid-feedback">
                            <div *ngIf="addClienteForm.controls['apellidos'].errors.required">Campo obligatorio</div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <label for="cedula">Cédula</label>
                        <input type="text" formControlName="cedula" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.cedula.errors }" placeholder="Cedula" required />
                        <div *ngIf="submitted && addClienteForm.controls['cedula'].errors" class="invalid-feedback">
                            <div *ngIf="addClienteForm.controls['cedula'].errors.required">Campo obligatorio</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
                        <div *ngIf="submitted && addClienteForm.controls['email'].errors" class="invalid-feedback">
                            <div *ngIf="addClienteForm.controls['cedula'].errors">Formato invalido</div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <label for="telefono">Telefono</label>
                        <input type="text" formControlName="telefono" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" placeholder="telefono" />
                    </div>
                </div>
                <br />
                <div class="row justify-content-around">
                    <div class="col-sm-2">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Enviar
                        </button>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>