<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col">
            <form [formGroup]="addDoctorForm" (ngSubmit)="onSubmit()" class="form-signin">
                <br />
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="nombresDoc">Nombres</label>
                        <input type="text" formControlName="nombresDoc" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.nombresDoc.errors }" placeholder="Nombres"
                            required />
                        <div *ngIf="submitted && addDoctorForm.controls['nombresDoc'].errors" 
                            class="invalid-feedback">
                            <div *ngIf="addDoctorForm.controls['nombresDoc'].errors.required">Campo obligatorio</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="apellidosDoc">Apellidos</label>
                        <input type="text" formControlName="apellidosDoc" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.apellidosDoc.errors }" placeholder="Apellidos"
                            required />
                        <div *ngIf="submitted && addDoctorForm.controls['apellidosDoc'].errors"
                            class="invalid-feedback">
                            <div *ngIf="addDoctorForm.controls['apellidosDoc'].errors.required">Campo obligatorio</div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="telefonoDoc">Telefono</label>
                        <input type="text" formControlName="telefonoDoc" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.telefonoDoc.errors }" 
                        (keypress)="keyPress($event)" required/>
                        <div *ngIf="submitted && f.telefonoDoc.errors" class="invalid-feedback">
                            <div *ngIf="f.telefonoDoc.errors.pattern || f.telefonoDoc.errors.maxlength || 
                                f.telefonoDoc.errors.minlength">Telefono incorrecto</div>
                        </div>
                        <div *ngIf="submitted && f.telefonoDoc.errors" class="invalid-feedback">
                            <div *ngIf="f.telefonoDoc.errors.required">Campo obligatorio</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="emailDoc">Email</label>
                        <input type="email" formControlName="emailDoc" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.emailDoc.errors }" required/>
                         <div *ngIf="submitted && f.emailDoc.errors" class="invalid-feedback">
                            <div *ngIf="f.emailDoc.errors.email">Email incorrecto</div>
                        </div>
                        <div *ngIf="submitted && f.emailDoc.errors" class="invalid-feedback">
                            <div *ngIf="f.emailDoc.errors.required">Campo obligatorio</div>
                        </div>
                    </div>                    
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="titulos">Títulos universitario</label>
                        <ng-multiselect-dropdown formControlName="titulosDoc" [placeholder]="'Titulos'"
                            [data]="doctorTitulos" [settings]="dropdownSettings"
                            (onSelect)="onItemSelectT($event)" (onSelectAll)="onSelectAllT($event)"
                            (onDeSelectAll)="deSelectAllT($event)" (onDeSelect)="deSelectT($event)" required>
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-4">
                        <label for="especialidades">Especialidades médicas</label>
                        <ng-multiselect-dropdown formControlName="especialidadesDoc" [placeholder]="'Especialidades'"
                            [data]="doctorEspecialidades" [settings]="dropdownSettings"
                            (onSelect)="onItemSelectE($event)" (onSelectAll)="onSelectAllE($event)"
                            (onDeSelect)="deSelectE($event)" required>
                        </ng-multiselect-dropdown>
                    </div>                    
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <label for="clinicas">Clinicas donde trabaja</label>
                        <ng-multiselect-dropdown formControlName="clinicasDoc" [placeholder]="'Clinicas'"
                            [data]="doctorClinicas" [settings]="dropdownSettings"
                            (onSelect)="onItemSelectC($event)" (onSelectAll)="onSelectAllC($event)"
                            (onDeSelect)="deSelectC($event)" required>
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-sm-4">
                        <label for="infoGeneralDoc">Información adicional</label>
                        <textarea type="text" class="form-control" formControlName="infoGeneralDoc"
                            placeholder="Informacion adicional sobre el medico"></textarea>
                    </div>
                </div>
                <br />
                <div class="row justify-content-around">
                    <div class="col-sm-8">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Enviar
                        </button>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>