.fa-bars {
    cursor: pointer;
  }
  
.nav-link {
    cursor: pointer;
}

.font-style{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}